# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
coverage.txt

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Ignore testdata
pkg/collector/testdata/sys
pkg/collector/testdata/proc

# Ignore scripts
run.sh

# Ignore artifacts
/.build
/.deps
/.release
/.tarballs

# Ignore binaries
/bin

# Ignore test files
*.db
*.prof
lasttimestamp

# Ignore promu related files
promu*

# Ignore data folder in root
data
data-backup

# Ignore zipped files
*.tar.gz

# Ignore binares
/ceems_exporter
/ceems_server

# Ignore extracted folder
ceems-*

# Ignore .deb and .rpm files
*.deb
*.rpm
