[Unit]
Description=Batchjob Exporter Using Prolog and Epilog Scripts Without Additional Privileges
After=network-online.target

[Service]
Type=simple
User=batchjob-exp
Group=batchjob-exp
ExecStart=/usr/local/bin/batchjob_exporter \
    --collector.slurm.job.props.path="/run/slurmjobprops" \
    --collector.ipmi.dcmi.cmd="sudo /usr/sbin/ipmi-dcmi --get-system-power-statistics" \
    --collector.nvidia_gpu \
    --collector.nvidia.gpu.job.map.path="/run/gpujobmap" \
    --log.level="debug"

SyslogIdentifier=batchjob_exporter
Restart=always
RestartSec=1
StartLimitInterval=0

NoNewPrivileges=yes

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
