[Unit]
Description=Batchjob Stats API server
After=network-online.target

[Service]
Type=simple
User=batchjob-stats
Group=batchjob-stats
ExecStart=/usr/local/bin/batchjob_stats_server \
    --batch.scheduler.slurm \
    --slurm.sacct.path="/usr/local/bin/sacct" \
    --storage.data.path="/var/lib/batchjob_stats" \
    --storage.data.update.interval="30m" \
    --storage.data.retention.period="1y" \
    --log.level="debug"

SyslogIdentifier=batchjob_stats_server
Restart=always
RestartSec=1
StartLimitInterval=0

AmbientCapabilities=CAP_SETUID CAP_SETGID
BoundingCapabilities=CAP_SETUID CAP_SETGID

ProtectHome=read-only
ReadWritePaths=/var/lib/batchjob_stats
WorkingDirectory=/var/lib/batchjob_stats

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
