[Unit]
Description=CEEMS Stats API server
After=network-online.target

[Service]
Type=simple

# Assuming ceems is normal system user without any additional privileges
User=ceems
Group=ceems

# Assuming /nfs/data is a different file system which is fault tolerant.
ExecStart=/usr/local/bin/ceems_server \
    --resource.manager.slurm \
    --storage.data.path="/var/lib/ceems" \
    --storage.data.backup.path="/nfs/data/backup/ceems" \
    --storage.data.update.interval="30m" \
    --storage.data.backup.interval="7d" \
    --storage.data.retention.period="1y" \
    --web.listen-address="localhost:9020" \
    --web.admin-users="adm1,adm2" \
    --log.level="debug"

SyslogIdentifier=ceems_server
Restart=always
RestartSec=1
StartLimitInterval=0

AmbientCapabilities=CAP_SETUID CAP_SETGID
CapabilityBoundingSet=CAP_SETUID CAP_SETGID

ProtectHome=read-only
ReadWritePaths=/var/lib/ceems /nfs/data/backup/ceems
WorkingDirectory=/var/lib/ceems

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
