[Unit]
Description=Batchjob Stats API server
After=network-online.target

[Service]
Type=simple
User=batchjob-stats
Group=batchjob-stats
ExecStart=/usr/local/bin/batchjob_stats_server \
    --slurm.sacct.path="/usr/local/bin/sacct" \
    --data.path="/var/lib/batchjob_stats" \
    --db.update.interval=1800 \
    --data.retention.period=365 \
    --log.level="debug"

SyslogIdentifier=batchjob_stats_server
Restart=always
RestartSec=1
StartLimitInterval=0

AmbientCapabilities=CAP_SETUID CAP_SETGID

ProtectHome=read-only
ReadWritePaths=/var/lib/batchjob_stats

ProtectSystem=strict
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=yes

[Install]
WantedBy=multi-user.target
